# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/
env/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db


# =========================
# Model / LLM Artifacts
# =========================
models/
checkpoints/
*.bin
*.pt
*.onnx

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Test / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Build / Packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Misc
# =========================
*.bak
*.tmp

# =========================
# Datasets / Data
# =========================
demo_dataset/full_input_test.csv
app/data/output.xlsx
